# Ignore node_modules
node_modules

# Ignore logs
*.log
npm-debug.log*

# Ignore arquivos de build locais
build

# Ignore diretórios de configuração de IDEs
.vscode
.idea

# Ignore arquivos de ambiente
.env
.env.local
.env.*.local

# Ignore arquivos temporários e de cache
*.swp
*.swo
*.tmp
.cache
dist

# Ignore Dockerfile e .dockerignore (opcional)
Dockerfile
.dockerignore

